<!-- HEAD -->
<%- include('../includes/head.ejs')%>
    <body>
        <!-- navbar -->
        <%- include('../includes/navbar.ejs') %>
        <hr>
        <div class="container-fluid">
            <div class="card mb-5 form-control bg-dark">
                <div class="row">
                    <% covidInfo.map((data) => { %>
                        <div class="col-4">
                            <img src="<%= data.staffId.imageUrl %>" class="img-fluid rounded-start mt-3">
                        </div>
                        <div class="col-8">
                            <h1 class="bg-warning text-dark text-center"><%= data.staffId.name.toUpperCase() %></h1>
                            <hr class="text-warning">
                            <h3 class="text-warning">Thông tin tiêm ngừa</h3>
                            <div class="row">
                                <div class="col-6">
                                    <!-- Thông tin mũi 1 -->
                                    <table class="table table-warning">
                                        <thead>
                                            <tr>
                                                <th>Mũi 1</th>
                                                <th>Ngày</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><%= data.firstDose.brand %></td>
                                                <td><%= data.firstDose.date.toLocaleDateString() %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <!-- Thông tin mũi 2 -->
                                <div class="col-6">
                                    <table class="table table-warning">
                                        <thead>
                                            <tr>
                                                <th>Mũi 2</th>
                                                <th>Ngày</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><%= data.secondDose.brand %></td>
                                                <td><%= data.secondDose.date.toLocaleDateString() %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% data.timesheet.forEach((item) => { %>
                            <h3 class="text-warning">Thông tin thân nhiệt</h3>
                            <table class="table table-warning">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Thân nhiệt</th>
                                        <th>Dương tính</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= item.date %>-<%= item.month %></td>
                                        <td><%= item.temp %>&#8451;</td>
                                        <% if(item.isCovid) { %>
                                            <td>Có</td>
                                        <% } else { %>
                                            <td>Không</td>
                                        <% } %>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="text-warning">
                            <a href="/" class="btn btn-warning fs-4">Về trang chủ</a>
                        </div>
                        <% }) %>
                    <% }) %>
                </div>
    </body>

<!-- END -->
<%- include('../includes/end.ejs') %>

</html>