<!-- HEAD -->
<%- include('../includes/head.ejs')%>
<style>
    input {
        border: 2px solid white;
        width: 300px;
    }
</style>
    <body>
        <!-- navbar -->
        <%- include('../includes/navbar.ejs') %>
        <hr>
        <div class="container-fluid">
            <div class="card mb-5 form-control bg-dark">
                <div class="row">
                    <div class="col-4  d-flex">
                            <img src="<%= staff.imageUrl %>" class="img-fluid rounded-start justify-content-center align-content-center">
                    </div>
                    <div class="col-8 g-0">
                        <div class="card-body text-light">
                            <h1 class="card-title text-warning bg-secondary text-center">
                                <%= staff.name.toUpperCase() %>
                            </h1>
                            <hr>
                            <form action="/info" method="POST">
                                <div class="fs-5 w-50">
                                    <div class="mb-3">
                                        <label for="id" class="form-label">ID:</label>
                                        <input type="text" value="<%= staff._id %>" class="form-control bg-secondary text-warning" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="doB" class="form-label">Ngày sinh:</label>
                                        <input type="text" value="<%= staff.doB %>" class="form-control bg-secondary text-warning" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="salaryScale" class="form-label">Hệ số lương:</label>
                                        <input type="text" value="<%= staff.salaryScale %>" class="form-control bg-secondary text-warning" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="startDate" class="form-label">Ngày bắt đầu:</label>
                                        <input type="text" value="<%= staff.startDate %>" class="form-control bg-secondary text-warning" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="department" class="form-label">Phòng ban:</label>
                                        <input type="text" value="<%= staff.department %>" class="form-control bg-secondary text-warning" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="annualLeave" class="form-label">Ngày nghỉ phép:</label>
                                        <input type="text" value="<%= staff.annualLeave %>" class="form-control bg-secondary text-warning" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="id" class="form-label">Ảnh nhân viên:</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-secondary text-warning" value="<%= staff.imageUrl %>" id="imageUrl" name="imageUrl" disabled>
                                            <span class="input-group-text bi bi-pen-fill" onclick="handleEditImageUrl()" title="Chỉnh sửa ảnh">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <hr>

                            <button type="submit" class="btn btn-danger fs-5">CHỈNH SỬA</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

<!-- END -->
<%- include('../includes/end.ejs') %>
<script src="/js/info.js"></script>
</html>