<!-- HEAD -->
<%- include('../includes/head.ejs')%>
<style>
    li a{
        color: orange;
        transition: .25 ease;
    }
    li a:hover {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px ;
    }
    .btn {
        width: 35%;
        transition: 0.4s ease;
        font-size: 1.4rem;
    }

    .btn:hover {
        width: 45%;
        color: yellow;
    }
</style>
    <body>
        <!-- navbar -->
        <%- include('../includes/navbar.ejs') %>
        <hr>
        <main class="container-fluid">
                <div class="row">
                    <% staffs.forEach((staff) => { %>
                        <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                            <div class="card bg-dark" style="min-width: 18rem;">
                                <a href="/info/<%= staff._id %>" >
                                    <img src="<%= staff.imageUrl %>" class="card-img-top img-thumbnail" title="Xem thông tin">
                                </a>
                                <div class="card-body text-center">
                                    <h3 class="card-title text-warning"><%= staff.name.toUpperCase() %></h3>
                                    <% if(!staff.workStatus) { %>
                                        <div>
                                            <button class="btn btn-secondary w-100" disabled>OFFLINE</button>
                                            <a href="/check-in/<%= staff._id %>" class="btn btn-success mt-2">
                                                CHECK IN
                                            </a>
                                            <a href="/absent/<%= staff._id %>" class="btn btn-success mt-2">
                                                NGHỈ PHÉP
                                            </a>
                                        </div>
                                    <% } else { %>
                                        <div>
                                            <button class="btn btn-warning w-100" disabled>ONLINE</button>
                                            <a href="/check-out/<%= staff._id %>" class="btn btn-success mt-2">
                                                CHECK OUT
                                            </a>
                                            <a href="/absent/<%= staff._id %>" class="btn btn-success mt-2">
                                                NGHỈ PHÉP
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
            </div>
        </main>

    </body>
<!-- END -->
<%- include('../includes/end.ejs') %>

</html>