<!-- HEAD -->
<%- include('../includes/head.ejs')%>
<style>
    li a{
        color: orange;
        transition: .25 ease;
    }
    li a:hover {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px ;
    }
    .btn {
        width: 35%;
        transition: 0.4s ease;
        font-size: 1.4rem;
    }

    .btn:hover {
        width: 45%;
        color: yellow;
    }
</style>
    <body>
        <!-- navbar -->
        <%- include('../includes/navbar.ejs') %>
        <hr>
        <main class="container-fluid">
                <div class="row">
                    <% covidInfo.forEach((staff) => { %>
                        <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                            <div class="card bg-dark" style="min-width: 18rem;">
                                <a href="/info/<%= staff.staffId._id %>" >
                                    <img src="<%= staff.staffId.imageUrl %>" class="card-img-top img-thumbnail" title="Xem thông tin">
                                </a>
                                <div class="card-body text-center">
                                    <h3 class="card-title text-warning"><%= staff.staffId.name.toUpperCase() %></h3>
                                    <div>
                                        <a href="/covid/<%= staff._id %>" class="btn btn-success mt-2">
                                            XEM
                                        </a>
                                        <a href="/covid-regis/<%= staff._id %>" class="btn btn-success mt-2">
                                            ĐĂNG KÝ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
            </div>
        </main>

    </body>
<!-- END -->
<%- include('../includes/end.ejs') %>

</html>